body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
}

#nav-container > nav > ul {
  list-style-type: none;
}

/* NAVIGATION */
#nav-background {
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color:white;
  border-bottom: 1px solid #ddd;
  /*
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  */
}

#nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#nav-logo {
  color: #444;
  text-decoration: none;
}
#nav-logo:hover {
  color: #666;
}

.nav-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;

}

.nav-ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  margin-top: 20px !important;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #444;
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 20px !important;
  -webkit-transition: 200ms;
  transition: 200ms;
  justify-content: center !important;
  z-index:999 !important;
}

.nav-link:hover {
  background-color:grey;
  color: white !important;
}

.active-link {
  background-color:#ececec;
}
.dropdown-menu{
  position: relative;
  z-index:1000;
}
/* END NAVIGATION */


/* MOBILE MENU */
@media screen and (max-width: 700px) {

  #nav-container  {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important; 
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  #nav-menu-button {
    padding: 1rem !important;
    background-color: #f1f1f1 !important;
    cursor: pointer !important;
  }

  .nav-ul {
    display: block !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    overflow: auto !important;
    direction: rtl !important;
    transition: max-height 400ms !important;
    max-height: 80vh !important;
  }

  .hide-ul {
    max-height: 0 !important;
  }

  .nav-link {
    position:relative !important;
    padding: 1rem 0 !important;
    font-size: 1.3rem !important;
    border-bottom: 1px solid #f4f4f4 !important;
    margin:0px !important;
    background-color:	#D3D3D3 !important;
    color: black !important;
    justify-content: center !important;
    z-index:1000 !important;
  }
}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 701px) {

  #nav-menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* This moves the logo so that it's not touching the left side */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}
/* END DESKTOP MENU */
