*:after,
*:before,
p a,
a,
.tg-socialicons li a,
.tg-roundicontext,
.tg-roundicontext .tg-usericonholder,
.owl-carousel .owl-dot span,
.tg-trendingtrip figure img,
.tg-trendingtrip .tg-hover .tg-stars,
.tg-trendingtrip .tg-hover .tg-tourduration,
.tg-trendingtrip .tg-hover .tg-pricearea,
.tg-themetabnav li a img,
.tg-post figure img,
.tg-post figure .tg-hover,
.tg-homesliderthumbnails .item figcaption,
.tg-ourpartnersvtwo li figure a img,
.tg-panel h4,
.sub-menu,
.mega-menu,
.tg-topdestination figure figcaption,
.tg-topdestination figure a img,
.tg-btnviewall,
.tg-share,
.tg-bookingtabs .tg-themetabnav li a span,
.tg-panel h4,
.tg-panel h4:after,
.tg-couponapply .form-group .tg-btn,
.tg-cartitems,
.tg-search .tg-destinations li a h3,
.tg-navtbs li,
.tg-navtbs li:after,
.tg-destination figure a img,
.tg-btnroundprev,
.tg-btnroundnext,
.tg-btnaddtocart span,
.tg-prevpost a h2,
.tg-nextpost a h2,
.tg-tourdestination figure a img{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}